.content * {
  font-size: 0.8rem;
}

#tableSelect {
  width: 200px;
}

.page-item.active .page-link {
  font: bold;
  font color: white;
  background-color: #6e6e75;
  border: 1px solid #6e6e75;
}

.page-link {
  color: #6e6e75;
}

.page-link:hover {
  font: bold;
  color: white;
  background-color: #323539;
  border: 1px solid #323539;
}

#data-btn {
  width: 85px;
}
