element.style, input:required, select:required, .required{
  border: 1px solid #000000;
}

.time-select{
background: none;
padding: 0.375rem 0.75rem 0.375rem 0.75rem;
border-left: 1px dashed #ced4da;
border-right: 1px dashed #ced4da;
text-align: center;
cursor: text;
}


/* .sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 0;
    background-color: #005127;
    overflow-x: hidden;
    padding-top: 0px;
    float: left;
        border: 3px solid red;

}

.tab-content {
    position-left: 10px;
    overflow: hidden;
    margin-left: 230px;
    border: 3px solid green;
}