{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block content %}

<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="vstack gap-3 col-6 mx-auto">
        <a class="row btn btn-dark btn-lg" href="{{ url_for('views.preflight') }}" role="button"
        data-bs-toggle="modal" data-bs-target="#preflight">Pre-flight</a>
<!--        <a class="row btn btn-dark btn-lg" href="{{ url_for('views.preflight') }}" role="button">Pre-flight</a>-->
        <a class="row btn btn-dark btn-lg" href="{{ url_for('views.get_postflight') }}" role="button">Post-flight</a>
        <a class="row btn btn-dark btn-lg" href="{{ url_for('views.records') }}" role="button">Records</a>
    </div>
</div>



<div class="modal fade" id="preflight" tabindex="-1" aria-labelledby="preflightLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" method="post">
      <div class="modal-header">
        <h5 class="modal-title" id="preflightLabel">Select aircraft to pre-flight:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!--        <form action="" method="post">-->
          <select class="form-select" id="aircraft" name="aircraft">
            {% for ac in ac_list %}
            <option value="{{ ac.registration }}">{{ ac.registration }}</option>
            {% endfor %}
          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-dark" type="submit">Pre-flight</button>
      </div>
    </form>
  </div>
</div>



{% endblock %}
