{% extends "base.html" %}

{% block title %} Home {% endblock %}

<body>
{% block content %}

<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="vstack gap-3 col-6 mx-auto">
        <a class="row btn btn-dark btn-lg" href="{{ url_for('views.preflight') }}" role="button"
           data-bs-toggle="modal" data-bs-target="#preflight">Pre-flight</a>
        <a class="row btn btn-dark btn-lg postflight_route postflightBtn" href="{{ url_for('views.get_preflight') }}"
           role="button" id="postflightBtn">Post-flight</a>
        <a class="row btn btn-dark btn-lg" href="{{ url_for('views.records') }}" role="button">Records</a>
        <input type="text" hidden value="{{ postflight_ac }}" id="postflight_ac" name="postflight_ac">
    </div>
</div>

<div class="modal fade" id="preflight" tabindex="-1" aria-labelledby="preflightLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="preflightLabel">Select aircraft to pre-flight:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select" id="aircraft" name="aircraft">
                    {% for ac in ac_list %}
                    <option value="{{ ac.registration }}">{{ ac.registration }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-dark" type="submit">Pre-flight</button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="getPostflight" aria-hidden="true" aria-labelledby="getPostflightLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="getPostflightLabel">Post-flight</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Hello {{user_name_first}} <span id="user_name_last">{{user_name_last}}</span>,</p>
                <p>We don't have any pre-flight data on record under your name.</p>
                <p>Please submit a <a href="preflight-ac" style="color: initial">Pre-flight</a> first.</p>
                <p>Or select an aircraft to Post-flight here:</p>
                <form action="" method="post">
                    <select class="form-select" name="postflight_aircraft" id="postflight_aircraft">
                        {% for ac in preflight_ac %}
                        <option value="{{ ac.registration }}">{{ ac.registration }}</option>
                        {% endfor %}
                    </select>
                    <ul hidden id="preflight_names">
                        {% for name in preflight_names %}
                        <li type="text" value="{{ name }}">{{ name }}</li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-dark postflight_route" role="button" id="">
                    Post-flight <span id="selected_aircraft"></span></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}

<script src="../static/home.js" type="module"></script>

{% endblock %}
</body>
