{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block content %}

<div class="container position-absolute top-50 start-50 translate-middle">
<div class="vstack gap-3 col-6 mx-auto">
    <a class="row btn btn-dark btn-lg" href="{{ url_for('views.preflight') }}" role="button">Pre-flight</a>
    <a class="row btn btn-dark btn-lg" href="{{ url_for('views.postflight') }}" role="button">Post-flight</a>
    <a class="row btn btn-dark btn-lg" href="{{ url_for('views.records') }}" role="button">Completed flights</a>
</div>
</div>

{% endblock %}
