<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
</head>
<body>
<a href="/">Home</a>
    <form name="srp_submit" action="/preflight/" method="POST">

        <label for="ac">ac: </label>
        <input type="text" id="ac" name="ac">
        <label for="date">date: </label>
        <input type="text" id="date" name="date">
        <label for="p1">p1: </label>
        <input type="text" id="p1" name="p1">
        <label for="p2">p2: </label>
        <input type="text" id="p2" name="p2">
        <label for="callsign">callsign: </label>
        <input type="text" id="callsign" name="callsign">
        <label for="crew">crew: </label>
        <input type="text" id="crew" name="crew">
        <label for="pax">pax: </label>
        <input type="text" id="pax" name="pax">
        <br>
        <br>
        <label for="task">task: </label>
        <input type="text" id="task" name="task">
        <label for="fromICAO">fromICAO: </label>
        <input type="text" id="fromICAO" name="fromICAO">
        <label for="toICAO">toICAO: </label>
        <input type="text" id="toICAO" name="toICAO">
        <br>
        <br>
        <label for="oilUpliftL">oilUpliftL: </label>
        <input type="text" id="oilUpliftL" name="oilUpliftL">
        <label for="oilUpliftR">oilUpliftR: </label>
        <input type="text" id="oilUpliftR" name="oilUpliftR">
        <label for="oilDepartureL">oilDepartureL: </label>
        <input type="text" id="oilDepartureL" name="oilDepartureL">
        <label for="oilDepartureR">oilDepartureR: </label>
        <input type="text" id="oilDepartureR" name="oilDepartureR">
        <br>
        <br>
        <label for="deAntiIceType">deAntiIceType: </label>
        <input type="text" id="deAntiIceType" name="deAntiIceType">
        <label for="deAntiIceTemp">deAntiIceTemp: </label>
        <input type="text" id="deAntiIceTemp" name="deAntiIceTemp">
        <label for="deAntiIceTime">deAntiIceTime: </label>
        <input type="text" id="deAntiIceTime" name="deAntiIceTime">
        <label for="deAntiIceMix">deAntiIceMix: </label>
        <input type="text" id="deAntiIceMix" name="deAntiIceMix">
        <label for="holdOverTime">holdOverTime: </label>
        <input type="text" id="holdOverTime" name="holdOverTime">
        <label for="TKSPreflight">TKSPreflight: </label>
        <input type="text" id="TKSPreflight" name="TKSPreflight">
        <br>
        <br>
        <label for="fuelBfwd">fuelBfwd: </label>
        <input type="text" id="fuelBfwd" name="fuelBfwd">
        <label for="fuelExp">fuelExp: </label>
        <input type="text" id="fuelExp" name="fuelExp">
        <label for="fuelAct">fuelAct: </label>
        <input type="text" id="fuelAct" name="fuelAct">
        <label for="fuelTotal">fuelTotal: </label>
        <input type="text" id="fuelTotal" name="fuelTotal">
        <br>
        <br>
        <label for="TOM">TOM: </label>
        <input type="text" id="TOM" name="TOM">
        <label for="preflightSign">preflightSign: </label>
        <input type="text" id="preflightSign" name="preflightSign">
        <br>
        <br>
        <input type="submit" name="submit_flight" value="Submit Preflight"/>
        <br>
        <br>
        <br>
        <label for="serviceItem">serviceItem: </label>
        <input type="text" id="serviceItem" name="serviceItem">
        <br>
        <br>
        <label for="landingFuelMainL">landingFuelMainL: </label>
        <input type="text" id="landingFuelMainL" name="landingFuelMainL">
        <label for="landingFuelMainR">landingFuelMainR: </label>
        <input type="text" id="landingFuelMainR" name="landingFuelMainR">
        <label for="landingFuelAuxL">landingFuelAuxL: </label>
        <input type="text" id="landingFuelAuxL" name="landingFuelAuxL">
        <label for="landingFuelAuxR">landingFuelAuxR: </label>
        <input type="text" id="landingFuelAuxR" name="landingFuelAuxR">
        <label for="landingFuelOtherL">landingFuelOtherL: </label>
        <input type="text" id="landingFuelOtherL" name="landingFuelOtherL">
        <label for="landingFuelOtherR">landingFuelOtherR: </label>
        <input type="text" id="landingFuelOtherR" name="landingFuelOtherR">
        <label for="landingFuelTotal">landingFuelTotal: </label>
        <input type="text" id="landingFuelTotal" name="landingFuelTotal">
        <label for="defects">defects: </label>
        <input type="text" id="defects" name="defects">

        <label for="hoursBfwd">hoursBfwd: </label>
        <input type="text" id="hoursBfwd" name="hoursBfwd">
        <label for="cyclesbfwd">cyclesbfwd: </label>
        <input type="text" id="cyclesbfwd" name="cyclesbfwd">
         <label for="cycles">cycles: </label>
        <input type="text" id="cycles" name="cycles">
       <label for="acHours">acHours: </label>
        <input type="text" id="acHours" name="acHours">
        <label for="TKSPostflight">TKSPostflight: </label>
        <input type="text" id="TKSPostflight" name="TKSPostflight">
        <label for="landingsDay">landingsDay: </label>
        <input type="text" id="landingsDay" name="landingsDay">
        <label for="landingsNight">landingsNight: </label>
        <input type="text" id="landingsNight" name="landingsNight">
        <label for="postflightSign">postflightSign: </label>
        <input type="text" id="postflightSign" name="postflightSign">
        <br>
        <br>
        <label for="offblocktime">Off Blocks: </label>
        <input type="time" id="offblocktime" name="offblocktime">
        <label for="takeofftime">Takeoff: </label>
        <input type="time" id="takeofftime" name="takeofftime">
        <label for="landingtime">Landing: </label>
        <input type="time" id="landingtime" name="landingtime">
        <label for="onblocktime">On Blocks: </label>
        <input type="time" id="onblocktime" name="onblocktime">
        <br>
        <input type="submit" name="submit_flight" value="Submit Postflight"/>
    </form>
</body>
</html>
