{% extends "base.html" %}

{% block title %} Postflight {{ ac }}{% endblock %}

<body>
{% block content %}
<form class="d-grid gap-3 pb-5 mb-5" method="post">

    <h3 class="text-center display-3">Post-flight</h3>

    <div class="row">
        <div class="col text-start">
            <h6 class="mt-3 display-6">{{ac}}</h6>
        </div>
        <div class="col text-end">
            <h6 class="mt-3 display-6">Sector {{srp}}</h6>
        </div>
    </div>

    <h6 class="mt-3 display-6 text-center">Times</h6>
    <div class="row">
        <div class="col text-center lead">Blocks</div>
        <div class="col text-center lead">Flight</div>
    </div>
    <div class="row">
        <div class="input-group mb-3 col">
            <label class="input-group-text" for="offhrs">Off</label>
            <select class="time-select form-select" id="offhrs" name="offhrs" onchange="getBlockTime()">
                {% for hr in range(23, -1, -1) %}
                <option value="{{ '%02d' % hr }}">{{ '%02d' % hr }}</option>
                {% endfor %}
                <option value="" selected disabled>--</option>
            </select>
            <select class="time-select form-select" id="offmin" name="offmin" onchange="getBlockTime()">
                {% for min in range(55, -1, -5) %}
                <option value="{{ '%02d' % min }}">{{ '%02d' % min }}</option>
                {% endfor %}
                <option value="" selected disabled>--</option>
            </select>
            <button class="btn btn-outline-secondary" type="button" onclick="setOff(); getBlockTime()">
                <img src="../static/clock.svg" alt="Time">
            </button>
        </div>
        <div class="input-group mb-3 col">
            <label class="input-group-text" for="tohrs">T/O</label>
            <select class="time-select form-select" id="tohrs" name="tohrs" onchange="getFlightTime(); setAcTime(); getTimeRemaining()">
                {% for hr in range(23, -1, -1) %}
                <option value="{{ '%02d' % hr }}">{{ '%02d' % hr }}</option>
                {% endfor %}
                <option value="" selected disabled>--</option>
            </select>
            <select class="time-select form-select" id="tomin" name="tomin" onchange="getFlightTime(); setAcTime(); getTimeRemaining()">
                {% for min in range(55, -1, -5) %}
                <option value="{{ '%02d' % min }}">{{ '%02d' % min }}</option>
                {% endfor %}
                <option value="" selected disabled>--</option>
            </select>
            <button class="btn btn-outline-secondary" type="button">
                <img src="../static/clock.svg" alt="Time" onclick="setTO(); getFlightTime(); setAcTime(); getTimeRemaining()">
            </button>
        </div>
        <div class="row">
            <div class="ms-3 d-flex justify-content-start col"></div>
            <div class="ms-3 d-flex justify-content-start col">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="to_d1"
                           onchange="getFlightTime(); getBlockTime(); setAcTime(); getTimeRemaining()">
                    <label class="form-check-label fw-lighter" for="to_d1">Takeoff D+1</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3 col">
            <label class="input-group-text" for="onhrs">On</label>
            <select class="time-select form-select" id="onhrs" name="onhrs" onchange="getBlockTime()">
                {% for hr in range(23, -1, -1) %}
                <option value="{{ '%02d' % hr }}">{{ '%02d' % hr }}</option>
                {% endfor %}
                <option value="" selected disabled>--</option>
            </select>
            <select class="time-select form-select" id="onmin" name="onmin" onchange="getBlockTime()">
                {% for min in range(55, -1, -5) %}
                <option value="{{ '%02d' % min }}">{{ '%02d' % min }}</option>
                {% endfor %}
                <option value="" selected disabled>--</option>
            </select>
            <button class="btn btn-outline-secondary" type="button" onclick="setOn(); getBlockTime()">
                <img src="../static/clock.svg" alt="Time"></button>
        </div>
        <div class="input-group mb-3 col" id="landing">
            <label class="input-group-text" for="ldghrs">Ldg</label>
            <select class="time-select form-select" id="ldghrs" name="ldghrs" onchange="getFlightTime(); setAcTime(); getTimeRemaining()">
                {% for hr in range(23, -1, -1) %}
                <option value="{{ '%02d' % hr }}">{{ '%02d' % hr }}</option>
                {% endfor %}
                <option value="" selected disabled>--</option>
            </select>
            <select class="time-select form-select" id="ldgmin" name="ldgmin" onchange="getFlightTime(); setAcTime(); getTimeRemaining()">
                {% for min in range(55, -1, -5) %}
                <option value="{{ '%02d' % min }}">{{ '%02d' % min }}</option>
                {% endfor %}
                <option value="" selected disabled>--</option>
            </select>
            <button class="btn btn-outline-secondary" type="button">
                <img src="../static/clock.svg" alt="Time" onclick="setLdg(); getFlightTime(); setAcTime(); getTimeRemaining()">
            </button>
        </div>
        <div class="row">
            <div class="ms-3 col d-flex justify-content-start">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="on_d1" onchange="getBlockTime()">
                    <label class="form-check-label fw-lighter" for="on_d1">Blocks on D+1</label>
                </div>
            </div>
            <div class="ms-3 col d-flex justify-content-start">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="ldg_d1"
                           onchange="getFlightTime(); getBlockTime(); setAcTime(); getTimeRemaining()">
                    <label class="form-check-label fw-lighter" for="ldg_d1">Landing D+1</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col d-flex justify-content-evenly me-auto">
            <p>Blocktime: </p>
            <div class="blocktime d-flex" id="blocktime">
                <p id="block_hrs">--</p><p>:</p><p id="block_min">--</p>
            </div>
        </div>
        <div class="mb-3 col d-flex justify-content-evenly me-auto">
            <p>Flighttime: </p>
            <div class="flighttime d-flex">
                <p id="flt_hrs">--</p><p>:</p><p id="flt_min">--</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center lead">Total time</div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <p>Hours brought forward: </p>
            </div>
            <div class="d-flex justify-content-end">
                <p id="ac_hrs_bfwd_hrs">{{ac_hrs_bfwd_hrs}}</p><p>:</p><p id="ac_hrs_bfwd_min">{{ac_hrs_bfwd_min}}</p>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <p>Current aircraft time: </p>
            </div>
            <div class="d-flex justify-content-end ms-auto">
                <output type="text" id="ac_hrs" name="ac_hrs" onchange="getTimeRemaining()">{{ac_hrs_bfwd_hrs}}</output>
                <p>:</p><output type="text" id="ac_min" name="ac_min">{{ac_hrs_bfwd_min}}</output>
                <input hidden type="text" name="ac_hrs_new" id="ac_hrs_new" value={{ac_hrs_bfwd_hrs}}>
                <input hidden type="text" name="ac_min_new" id="ac_min_new" value={{ac_hrs_bfwd_min}}>
            </div>
        </div>
    </div>


    <h6 class="mt-3 display-6 text-center">Fuel</h6>
    <div class="row">
        <div class="col text-center lead">Left</div>
        <div class="col text-center lead">Right</div>
    </div>
    <div class="row">
        <div class="col input-group">
            <span class="input-group-text">Main</span>
            <input type="number" class="form-control" id="main_l" name="main_l" min="0" onchange="getFuel()">
        </div>
        <div class="col input-group">
            <span class="input-group-text">Main</span>
            <input type="number" class="form-control" id="main_r" name="main_r" min="0" onchange="getFuel()">
        </div>
    </div>
    <div class="row">
        <div class="col input-group">
            <span class="input-group-text">Aux</span>
            <input type="number" class="form-control" id="aux_l" name="aux_l" min="0" onchange="getFuel()">
        </div>
        <div class="col input-group">
            <span class="input-group-text">Aux</span>
            <input type="number" class="form-control" id="aux_r" name="aux_r" min="0" onchange="getFuel()">
        </div>
    </div>
    <div class="row">
        <div class="col input-group">
            <span class="input-group-text">Other</span>
            <input type="number" class="form-control" id="other_l" name="other_l" min="0" onchange="getFuel()">
        </div>
        <div class="col input-group">
            <span class="input-group-text">Other</span>
            <input type="number" class="form-control" id="other_r" name="other_r" min="0" onchange="getFuel()">
        </div>
    </div>
    <dl class="row">
        <dt class="col">Total landing fuel:</dt>
        <dd class="col" id="landing_fuel" data-name="landing_fuel"></dd>
    </dl>
        <input type="text" hidden id="landing_fuel_req" required name="landing_fuel">

    <h6 class="mt-3 display-6 text-center">Aircraft</h6>
    <div class="row">
        <div class="text-center lead">Cycles</div>
    </div>

    <div class="row">
        <div class="col input-group d-flex justify-content-evenly me-auto align-self-start">
            <span class="input-group-text">Cycles</span>
            <input id="cycles" name="cycles" type="number" class="form-control" min="0" onchange="getCurrentCycles()">
        </div>
        <div class="mb-3 col">
            <div class="d-flex justify-content-start me-auto">
                <p>Cycles brought forward: </p>
                <div class="d-flex ms-auto">
                    <p id="cycles_bfwd">{{total_cycles}}</p>
                </div>
            </div>
            <div class="col d-flex justify-content-start me-auto">
                <p>Current cycles: </p>
                <div class="d-flex ms-auto">
                    <p id="current_cycles">{{total_cycles}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="text-center lead">Landings</div>
    </div>
    <div class="row">
        <div class="col input-group">
            <span class="input-group-text">Day</span>
            <input type="number" class="form-control" id="landings_day" name="landings_day" min="0"
                   onchange="getDayLandings()">
        </div>
        <div class="col input-group">
            <span class="input-group-text">Night</span>
            <input type="number" class="form-control" id="landings_night" name="landings_night" min="0"
                   onchange="getNightLandings()">
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col d-flex justify-content-evenly me-auto">
            <p>Total day: </p>
            <div class="d-flex">
                <p id="total_day_ldg" data-name="total_day_ldg">{{total_day_ldg}}</p>
            </div>
        </div>
        <div class="mb-3 col d-flex justify-content-evenly me-auto">
            <p>Total night: </p>
            <div class="d-flex">
                <p id="total_night_ldg" data-name="total_night_ldg">{{total_night_ldg}}</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="lead text-center">Service</div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="input-group">
                <span class="input-group-text">TKS</span>
                <input type="number" class="form-control" id="tks" name="tks" value="{{ tks }}" min="0" required>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input me-3 mt-0" type="checkbox" id="defectCb"
                           aria-label="Checkbox to enable defect input">Defect:</div>
                <input type="text" class="form-control" aria-label="Text input with checkbox" id="defect" name="defect"
                       disabled>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="mb-3 col d-flex justify-content-start">
            <p>Next item: </p>
            <div class="d-flex ms-auto me-5">
                <p id="service_hrs">{{service_hrs}}</p><p>:</p><p id="service_min">{{service_min}}</p>
            </div>
        </div>
        <div class="mb-3 col d-flex justify-content-start">
            <p>Time remaining: </p>
            <div class="rem_time d-flex ms-auto me-5">
                <p id="rem_hrs">{{rem_hrs}}</p><p>:</p><p id="rem_min">{{ '%02d' % rem_min}}</p>
            </div>
        </div>
    </div>

    <button class="btn btn-dark m-5" type="button" tabindex="16" data-bs-toggle="modal" data-bs-target="#postflightSign"
            id="postflightSubmit">Submit</button>
    <div class="modal fade" id="postflightSign" tabindex="-1" aria-labelledby="postflightSignLabel" aria-hidden="true"
         data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postflightSignLabel">Post-flight Submission</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                    <dl class="row">
                        <dt class="col-6">Aircraft:</dt>
                        <dd class="col-6">{{ac}}</dd>
                        <dt class="col-6">SRP:</dt>
                        <dd class="col-6">{{srp}}</dd>
                        <dt class="col-6">Date:</dt>
                        <dd class="col-6" >{{date}}</dd>
                        <dt class="col-6">Off Blocks:</dt>
                        <dd class="col-6" id="off_time"></dd>
                        <dt class="col-6">Take-off:</dt>
                        <dd class="col-6" id="to_time"></dd>
                        <dt class="col-6">Landing:</dt>
                        <dd class="col-6" id="ldg_time"></dd>
                        <dt class="col-6">On Blocks:</dt>
                        <dd class="col-6" id="on_time"></dd>
                        <dt class="col-6">Block Time:</dt>
                        <dd class="col-6" id="block_time"></dd>
                        <dt class="col-6">Air Time:</dt>
                        <dd class="col-6" id="flight_time"></dd>
                        <dt class="col-6">Current Aircraft Hours:</dt>
                        <dd class="col-6" id="time_current"></dd>
                        <dt class="col-6">Next service item required at:</dt>
                        <dd class="col-6" id="next_item">{{service_hrs}}:{{service_min}}</dd>
                        <dt class="col-6">Time remaining:</dt>
                        <dd class="col-6" id="time_remaining"></dd>
                        <dt class="col-6">Landing Fuel:</dt>
                        <dd class="col-6" id="landing_fuel_total"></dd>
                        <dt class="col-6">Defect:</dt>
                        <dd class="col-6" id="defect_data"></dd>
                    </dl>
<!--                    <p><small><b>Pre-flight Acceptance:</b><br>Acceptance signature confirms completion of-->
<!--                        Pre-Flight inspection, Aircraft Technical Status-->
<!--                        / De-Icing / Defect state and sufficient fuel and oil for the planned flight.</small></p>-->
                    <dl class="row">
                        <dt class="col me-auto">Accepted by:</dt>
                        <dd class="form-check col ms-auto">
                            <input class="form-check-input" type="checkbox" value="" id="postflightConfirmCb">
                            <label class="form-check-label" for="postflightConfirmCb">
                                <span data-name="srp_user_name">{{ srp_user_name }}</span>
                                <span data-name="srp_user_initial">{{ srp_user_initial }}.</span>
                                <span data-name="srp_user_callsign"> / {{ srp_user_callsign }}</span>
                            </label>
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-dark" disabled id="postflightConfirmBtn">Confirm</button>
                </div>
            </div>
        </div>
    </div>


</form>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='postflight.js')}}"></script>
{% endblock %}

</body>
