{% extends "base.html" %}

{% block title %} Postflight {% endblock %}

<body>
{% block content %}
<form class="d-grid gap-3" method="post">

    <h3 class="text-center display-3">Post-flight</h3>

    <div class="row">
        <div class="col text-start">
            <h6 class="mt-3 display-6">{{ac}}</h6>
        </div>
        <div class="col text-end">
            <h6 class="mt-3 display-6">Sector {{srp}}</h6>
        </div>
    </div>

    <h6 class="mt-3 display-6 text-center">Times</h6>
    <div class="row">
        <div class="col text-center lead">Blocks</div>
        <div class="col text-center lead">Flight</div>
    </div>
    <div class="row">
        <div class="input-group mb-3 col">
            <label class="input-group-text" for="offhrs">Off</label>
            <select class="time-select form-select" id="offhrs" onchange="getBlockTime()">
                {% for hr in range(23, -1, -1) %}
                <option value="{{ '%02d' % hr }}">{{ '%02d' % hr }}</option>
                {% endfor %}
                <option value="" selected>--</option>
            </select>
            <select class="time-select form-select" id="offmin" onchange="getBlockTime()">
                {% for min in range(55, -1, -5) %}
                <option value="{{ '%02d' % min }}">{{ '%02d' % min }}</option>
                {% endfor %}
                <option value="" selected>--</option>
            </select>
            <button class="btn btn-outline-secondary" type="button" onclick="setOff(); getBlockTime()">
                <img src="../static/clock.svg" alt="Time">
            </button>
        </div>
        <div class="input-group mb-3 col">
            <label class="input-group-text" for="tohrs">T/O</label>
            <select class="time-select form-select" id="tohrs" onchange="getFlightTime(); setAcTime(); getTimeRemaining()">
                {% for hr in range(23, -1, -1) %}
                <option value="{{ '%02d' % hr }}">{{ '%02d' % hr }}</option>
                {% endfor %}
                <option value="" selected>--</option>
            </select>
            <select class="time-select form-select" id="tomin" onchange="getFlightTime(); setAcTime(); getTimeRemaining()">
                {% for min in range(55, -1, -5) %}
                <option value="{{ '%02d' % min }}">{{ '%02d' % min }}</option>
                {% endfor %}
                <option value="" selected>--</option>
            </select>
            <button class="btn btn-outline-secondary" type="button">
                <img src="../static/clock.svg" alt="Time" onclick="setTO(); getFlightTime(); setAcTime(); getTimeRemaining()">
            </button>
        </div>
        <div class="row">
            <div class="ms-3 d-flex justify-content-start col"></div>
            <div class="ms-3 d-flex justify-content-start col">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="to_d1"
                           onchange="getFlightTime(); getBlockTime(); setAcTime(); getTimeRemaining()">
                    <label class="form-check-label fw-lighter" for="to_d1">Takeoff D+1</label>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="input-group mb-3 col">
            <label class="input-group-text" for="onhrs">On</label>
            <select class="time-select form-select" id="onhrs" onchange="getBlockTime()">
                {% for hr in range(23, -1, -1) %}
                <option value="{{ '%02d' % hr }}">{{ '%02d' % hr }}</option>
                {% endfor %}
                <option value="" selected>--</option>
            </select>
            <select class="time-select form-select" id="onmin" onchange="getBlockTime()">
                {% for min in range(55, -1, -5) %}
                <option value="{{ '%02d' % min }}">{{ '%02d' % min }}</option>
                {% endfor %}
                <option value="" selected>--</option>
            </select>
            <button class="btn btn-outline-secondary" type="button" onclick="setOn(); getBlockTime()">
                <img src="../static/clock.svg" alt="Time"></button>
        </div>
        <div class="input-group mb-3 col" id="landing">
            <label class="input-group-text" for="ldghrs">Ldg</label>
            <select class="time-select form-select" id="ldghrs" onchange="getFlightTime(); setAcTime(); getTimeRemaining()">
                {% for hr in range(23, -1, -1) %}
                <option value="{{ '%02d' % hr }}">{{ '%02d' % hr }}</option>
                {% endfor %}
                <option value="" selected>--</option>
            </select>
            <select class="time-select form-select" id="ldgmin" onchange="getFlightTime(); setAcTime(); getTimeRemaining()">
                {% for min in range(55, -1, -5) %}
                <option value="{{ '%02d' % min }}">{{ '%02d' % min }}</option>
                {% endfor %}
                <option value="" selected>--</option>
            </select>
            <button class="btn btn-outline-secondary" type="button">
                <img src="../static/clock.svg" alt="Time" onclick="setLdg(); getFlightTime(); setAcTime(); getTimeRemaining()">
            </button>
        </div>
        <div class="row">
            <div class="ms-3 col d-flex justify-content-start">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="on_d1" onchange="getBlockTime()">
                    <label class="form-check-label fw-lighter" for="on_d1">Blocks on D+1</label>
                </div>
            </div>
            <div class="ms-3 col d-flex justify-content-start">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="ldg_d1"
                           onchange="getFlightTime(); getBlockTime(); setAcTime(); getTimeRemaining()">
                    <label class="form-check-label fw-lighter" for="ldg_d1">Landing D+1</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col d-flex justify-content-evenly me-auto">
            <p>Blocktime: </p>
            <div class="blocktime d-flex">
                <p id="block_hrs">--</p><p>:</p><p id="block_min">--</p>
            </div>
        </div>
        <div class="mb-3 col d-flex justify-content-evenly me-auto">
            <p>Flighttime: </p>
            <div class="flighttime d-flex">
                <p id="flt_hrs">--</p><p>:</p><p id="flt_min">--</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center lead">Total time</div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <p>Hours brought forward: </p>
            </div>
            <div class="d-flex justify-content-end">
                <p id="ac_hrs_bfwd_hrs">{{ac_hrs_bfwd_hrs}}</p><p>:</p><p id="ac_hrs_bfwd_min">{{ac_hrs_bfwd_min}}</p>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <p>Current aircraft time: </p>
            </div>
            <div class="d-flex justify-content-end ms-auto">
                <p id="ac_hrs" onchange="getTimeRemaining()">{{ac_hrs_bfwd_hrs}}</p><p>:</p><p id="ac_min">{{ac_hrs_bfwd_min}}</p>
            </div>
        </div>
    </div>


    <h6 class="mt-3 display-6 text-center">Fuel</h6>
    <div class="row">
        <div class="col text-center lead">Left</div>
        <div class="col text-center lead">Right</div>
    </div>
    <div class="row">
        <div class="col input-group">
            <span class="input-group-text">Main</span>
            <input type="number" class="form-control" id="main_l" min="0" onchange="getFuel()" required>
        </div>
        <div class="col input-group">
            <span class="input-group-text">Main</span>
            <input type="number" class="form-control" id="main_r" min="0" onchange="getFuel()" required>
        </div>
    </div>
    <div class="row">
        <div class="col input-group">
            <span class="input-group-text">Aux</span>
            <input type="number" class="form-control" id="aux_l" min="0" onchange="getFuel()" required>
        </div>
        <div class="col input-group">
            <span class="input-group-text">Aux</span>
            <input type="number" class="form-control" id="aux_r" min="0" onchange="getFuel()" required>
        </div>
    </div>
    <div class="row">
        <div class="col input-group">
            <span class="input-group-text">Other</span>
            <input type="number" class="form-control" id="other_l" min="0" onchange="getFuel()" required>
        </div>
        <div class="col input-group">
            <span class="input-group-text">Other</span>
            <input type="number" class="form-control" id="other_r" min="0" onchange="getFuel()" required>
        </div>
    </div>
    <div class="row">
        <div class="col input-group">
            <span class="input-group-text">Total</span>
            <input type="number" class="form-control" id="landing_fuel" min="0">
        </div>
    </div>

    <h6 class="mt-3 display-6 text-center">Aircraft</h6>
    <div class="row">
        <div class="text-center lead">Cycles</div>
    </div>

    <div class="row">
        <div class="col input-group d-flex justify-content-evenly me-auto align-self-start">
            <span class="input-group-text">Cycles</span>
            <input id="cycles" type="number" class="form-control" min="0" onchange="getCurrentCycles()">
        </div>
        <div class="mb-3 col">
            <div class="d-flex justify-content-start me-auto">
                <p>Cycles brought forward: </p>
                <div class="d-flex ms-auto">
                    <p id="cycles_bfwd">{{cycles}}</p>
                </div>
            </div>
            <div class="col d-flex justify-content-start me-auto">
                <p>Current cycles: </p>
                <div class="d-flex ms-auto">
                    <p id="current_cycles">{{cycles}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="text-center lead">Landings</div>
    </div>
    <div class="row">
        <div class="col input-group">
            <span class="input-group-text">Day</span>
            <input type="number" class="form-control" id="landings_day" min="0" onchange="getDayLandings()" required>
        </div>
        <div class="col input-group">
            <span class="input-group-text">Night</span>
            <input type="number" class="form-control" id="landings_night" min="0" onchange="getNightLandings()" required>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col d-flex justify-content-evenly me-auto">
            <p>Total day: </p>
            <div class="d-flex">
                <p id="total_day_ldg">{{total_day_ldg}}</p>
            </div>
        </div>
        <div class="mb-3 col d-flex justify-content-evenly me-auto">
            <p>Total night: </p>
            <div class="d-flex">
                <p id="total_night_ldg">{{total_night_ldg}}</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="lead text-center">Service</div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="input-group">
                <span class="input-group-text">TKS</span>
                <input type="number" class="form-control" id="tks" value="{{ tks }}" min="0" required>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input me-3 mt-0" type="checkbox" value=""
                           aria-label="Checkbox for following text input"
                           onchange="document.getElementById('defect').disabled = !this.checked;" >Defect:</div>
                <input type="text" class="form-control" aria-label="Text input with checkbox" id="defect" disabled>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="mb-3 col d-flex justify-content-start">
            <p>Next item: </p>
            <div class="d-flex ms-auto me-5">
                <p id="service_hrs">{{service_hrs}}</p><p>:</p><p id="service_min">{{service_min}}</p>
            </div>
        </div>
        <div class="mb-3 col d-flex justify-content-start">
            <p>Time remaining: </p>
            <div class="rem_time d-flex ms-auto me-5">
                <p id="rem_hrs">{{rem_hrs}}</p><p>:</p><p id="rem_min">{{ '%02d' % rem_min}}</p>
            </div>
        </div>
    </div>


    <br>
    <button class="btn btn-dark" type="submit" tabindex="16">Submit</button>
    <br>
    <br>
    <br>
    <br>


</form>
{% endblock %}
</body>
