{% extends "base.html" %}

{% block title %} Preflight {% endblock %}
<body>
{% block content %}


<p>Click the button to display an alert box.</p>

<button onclick="myFunction()">Try it</button>

<br>
<br>
<br>
<br>
<div>

<input placeholder="Enter some text" name="name"/>
<p id="values"></p>
</div>

<br>
<br>
<br>
<p>Write something in the text field to trigger a function.</p>

Enter no.: <input type="number" id="Input1" value="6">
<br>
Enter no.: <input type="number" id="Input2" value="9">
<br>
<br>
<br>
<br>

this is a record
<a href="/">Home</a>
<p>This {{aircraft}} was chosen</p>
<p>SRP: {{srp}}</p>
<p>Off Blocks: {{offblocktime}}</p>
<p>Takeoff: {{takeofftime}}</p>
<p>Landing: {{landingtime}}</p>
<p>On Blocks: {{onblocktime}}</p>
<p>Block Time: {{blocktime}}</p>
<p>Flight Time: {{flighttime}}</p>
<p>This is the first item in airport: {{ airports.icao }} </p>
<p>First name: {{crew_name.name_first}} </p>
<p>Who's last name do you want to know?</p>
<input type="text" name="first">
<p>Last name: </p>
<ul>
   {% for names in crew_data %}
    <li>
        {{ names.name_last }}
    </li>
     {% endfor %}
</ul>
<p></p>
</body>
{% endblock %}}