{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

<body>
{% block content %}

<link rel="stylesheet"
      type="text/css"
      href="../static/records.css">

<div class="h3">
    <h3 class="text-center display-3" >{{title}}</h3>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Select record data to display:</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkall">
            <label class="form-check-label" for="checkall">Check all:</label>
        </div>
        <div class="accordion" id="sector_data">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSector">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSector" aria-expanded="true" aria-controls="panelsStayOpen-collapseSector">
                        Sector
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSector" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSector">
                    <div class="accordion-body">
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="flight_id" data-column="0" data-name="flight_id">
                            <label class="form-check-label" for="flight_id">ID</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="callsign" data-column="2">
                            <label class="form-check-label" for="callsign">Aircraft callsign</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="airport_dep" data-column="6">
                            <label class="form-check-label" for="airport_dep">Departure</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="airport_des" data-column="7">
                            <label class="form-check-label" for="airport_des">Destination</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="srp" data-column="8">
                            <label class="form-check-label" for="srp">SRP number</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="date" data-column="9">
                            <label class="form-check-label" for="date">Date</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="task" data-column="10">
                            <label class="form-check-label" for="task">Task</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="task_desc" data-column="11">
                            <label class="form-check-label" for="task_desc">Task description</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="blockoff" data-column="36">
                            <label class="form-check-label" for="blockoff">Blocks off</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="takeoff" data-column="37">
                            <label class="form-check-label" for="takeoff">Takeoff</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="landing" data-column="38">
                            <label class="form-check-label" for="landing">Landing</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="blockon" data-column="39">
                            <label class="form-check-label" for="blockon">Blocks on</label>
                        </div>

                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="preflight_signature" data-column="27">
                            <label class="form-check-label" for="preflight_signature">Pre-flight sign-off</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="preflight_callsign" data-column="28">
                            <label class="form-check-label" for="preflight_callsign">Pre-flight callsign</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="postflight_signature" data-column="42">
                            <label class="form-check-label" for="postflight_signature">Post-flight sign-off</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="postflight_callsign" data-column="43">
                            <label class="form-check-label" for="postflight_callsign">Post-flight callsign</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingAC">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseAC" aria-expanded="false" aria-controls="panelsStayOpen-collapseAC">
                        Aircraft
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseAC" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingAC">
                    <div class="accordion-body">
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="ac" data-column="1">
                            <label class="form-check-label" for="ac">Registration</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="takeoff_mass" data-column="26">
                            <label class="form-check-label" for="takeoff_mass">Takeoff mass</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="landing_day" data-column="40">
                            <label class="form-check-label" for="landing_day">Landings day</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="landing_night" data-column="41">
                            <label class="form-check-label" for="landing_night">Landings night</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingPOB">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsePOB" aria-expanded="false" aria-controls="panelsStayOpen-collapsePOB">
                        Persons On Board
                    </button>
                </h2>
                <div id="panelsStayOpen-collapsePOB" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingPOB">
                    <div class="accordion-body">
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="p1" data-column="3">
                            <label class="form-check-label" for="p1">P1</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="p2" data-column="4">
                            <label class="form-check-label" for="p2">P2</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="crew" data-column="5">
                            <label class="form-check-label" for="crew">Crew</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFuelOil">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFuelOil" aria-expanded="false" aria-controls="panelsStayOpen-collapseFuelOil">
                        Fuel / Oil
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFuelOil" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFuelOil">
                    <div class="accordion-body">
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="fuel_bfwd" data-column="12">
                            <label class="form-check-label" for="fuel_bfwd">Fuel brought forward</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="depfuel_uplift_exp" data-column="13">
                            <label class="form-check-label" for="depfuel_uplift_exp">Fuel uplift expected</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="depfuel_uplift_act" data-column="14">
                            <label class="form-check-label" for="depfuel_uplift_act">Fuel uplift actual</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="depfuel_total" data-column="15">
                            <label class="form-check-label" for="depfuel_total">Departure fuel</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="oil_uplift_l" data-column="16">
                            <label class="form-check-label" for="oil_uplift_l">Oil uplift left</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="oil_uplift_r" data-column="17">
                            <label class="form-check-label" for="oil_uplift_r">Oil uplift right</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="oil_dep_l" data-column="18">
                            <label class="form-check-label" for="oil_dep_l">Departure oil left</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="oil_dep_r" data-column="19">
                            <label class="form-check-label" for="oil_dep_r">Departure oil right</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="landfuel_main_l" data-column="29">
                            <label class="form-check-label" for="landfuel_main_l">Landing fuel main left</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="landfuel_main_r" data-column="30">
                            <label class="form-check-label" for="landfuel_main_r">Landing fuel main right</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="landfuel_aux_l" data-column="31">
                            <label class="form-check-label" for="landfuel_aux_l">Landing fuel aux left</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="landfuel_aux_r" data-column="32">
                            <label class="form-check-label" for="landfuel_aux_r">Landing fuel aux right</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="landfuel_other_l" data-column="33">
                            <label class="form-check-label" for="landfuel_other_l">Landing fuel other left</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="landfuel_other_r" data-column="34">
                            <label class="form-check-label" for="landfuel_other_r">Landing fuel other right</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingIcing">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseIcing" aria-expanded="false" aria-controls="panelsStayOpen-collapseIcing">
                        Anti-icing
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseIcing" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingIcing">
                    <div class="accordion-body">
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="tks_preflight" data-column="20">
                            <label class="form-check-label" for="tks_preflight">TKS pre-flight</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="deantiice_type" data-column="21">
                            <label class="form-check-label" for="deantiice_type">De-icing type</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="deantiice_temp" data-column="22">
                            <label class="form-check-label" for="deantiice_temp">De-icing ºC</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="deantiice_time" data-column="23">
                            <label class="form-check-label" for="deantiice_time">De-icing time</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="deantiice_mix" data-column="24">
                            <label class="form-check-label" for="deantiice_mix">De-icing mix</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="holdovertime" data-column="25">
                            <label class="form-check-label" for="holdovertime">Holdover time</label>
                        </div>
                        <div class="form-check">
                            <input class="toggle-vis form-check-input" type="checkbox" id="tks_postflight" data-column="35">
                            <label class="form-check-label" for="tks_postflight">TKS post-flight</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="aircraft_data">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-aircraft">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseAircraft" aria-expanded="true" aria-controls="panelsStayOpen-collapseAircraft">
                        Aircraft
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseAircraft" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-aircraft">
                    <div class="accordion-body">
                        <div id="ac_data">
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="aircraft_id" data-column="0">
                                <label class="form-check-label" for="aircraft_id">ID</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="registration" data-column="1">
                                <label class="form-check-label" for="registration">Registration</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="defect" data-column="2">
                                <label class="form-check-label" for="defect">Defect</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="servicetime" data-column="3">
                                <label class="form-check-label" for="servicetime">Next service-item time</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="hours" data-column="4">
                                <label class="form-check-label" for="hours">Aircraft time</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="landing_day_total" data-column="5">
                                <label class="form-check-label" for="landing_day_total">Day landings</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="landing_night_total" data-column="6">
                                <label class="form-check-label" for="landing_night_total">Night landings</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="status" data-column="7">
                                <label class="form-check-label" for="status">Status</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="fuel" data-column="8">
                                <label class="form-check-label" for="fuel">Fuel</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="oil_l" data-column="9">
                                <label class="form-check-label" for="oil_l">Oil left</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="oil_r" data-column="10">
                                <label class="form-check-label" for="oil_r">Oil right</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="tks" data-column="11">
                                <label class="form-check-label" for="tks">TKS</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="srp_ac" data-column="12">
                                <label class="form-check-label" for="srp_ac">SRP</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="callsign_ac" data-column="13">
                                <label class="form-check-label" for="callsign_ac">Last callsign</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="location" data-column="14">
                                <label class="form-check-label" for="location">Last location</label>
                            </div>
                            <div class="form-check">
                                <input class="toggle-vis form-check-input" type="checkbox" id="cycles" data-column="15">
                                <label class="form-check-label" for="cycles">Cycles</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="input-group col-2 m-auto" style="" id="tableSelect">
        <select class="form-select" required name="table" id="table" onchange="toggleTable()">
            <option value="sector" selected>Sector</option>
            <option value="aircraft">Aircraft</option>
        </select>
        <button class="col-1 btn btn-outline-dark" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
                style="" id="data-btn">Data</button>
    </div>

    <div class="sector table-responsive" style="" id="sector_table">
        <table class="table table-striped table-hover nowrap" id="sector">
            <thead class="table-dark align-top nowrap">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Aircraft</th>
                <th scope="col">Callsign</th>
                <th scope="col">P1</th>
                <th scope="col">P2</th>
                <th scope="col">Crew</th>
                <th scope="col">Departure</th>
                <th scope="col">Destination</th>
                <th scope="col">SRP</th>
                <th scope="col">Date</th>
                <th scope="col">Task</th>
                <th scope="col">Task description</th>
                <th scope="col">Fuel brought forward</th>
                <th scope="col">Fuel uplift expected</th>
                <th scope="col">Fuel uplift actual</th>
                <th scope="col">Departure fuel</th>
                <th scope="col">Oil uplift left</th>
                <th scope="col">Oil uplift right</th>
                <th scope="col">Departure oil left</th>
                <th scope="col">Departure oil right</th>
                <th scope="col">TKS pre-flight</th>
                <th scope="col">De-icing type</th>
                <th scope="col">De-icing ºC</th>
                <th scope="col">De-icing time</th>
                <th scope="col">De-icing mix</th>
                <th scope="col">Holdover time</th>
                <th scope="col">Takeoff mass</th>
                <th scope="col">Pre-flight sign-off</th>
                <th scope="col">Pre-flight callsign</th>
                <th scope="col">Landing fuel main left</th>
                <th scope="col">Landing fuel main right</th>
                <th scope="col">Landing fuel aux left</th>
                <th scope="col">Landing fuel aux right</th>
                <th scope="col">Landing fuel other left</th>
                <th scope="col">Landing fuel other right</th>
                <th scope="col">TKS post-flight</th>
                <th scope="col">Blocks off</th>
                <th scope="col">Takeoff</th>
                <th scope="col">Landing</th>
                <th scope="col">Blocks on</th>
                <th scope="col">Landings day</th>
                <th scope="col">Landings night</th>
                <th scope="col">Post-flight sign-off</th>
                <th scope="col">Post-flight callsign</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="aircraft table-responsive" id="aircraft_table">
        <table class="table table-striped table-hover nowrap" id="aircraft">
            <thead class="table-dark align-top nowrap">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Aircraft</th>
                <th scope="col">Defect</th>
                <th scope="col">Service time</th>
                <th scope="col">Hours</th>
                <th scope="col">Landings day</th>
                <th scope="col">Landings night</th>
                <th scope="col">Status</th>
                <th scope="col">Fuel</th>
                <th scope="col">Oil left</th>
                <th scope="col">Oil right</th>
                <th scope="col">TKS</th>
                <th scope="col">SRP</th>
                <th scope="col">Callsign</th>
                <th scope="col">Location</th>
                <th scope="col">Cycles</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='records.js')}}"></script>
{% endblock %}

</body>
