{% extends "base.html" %}

{% block title %} Records {% endblock %}

<body>
{% block content %}

<table class="table table-striped table-hover">
    <thead class="table-dark align-top">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Aircraft</th>
        <th scope="col">Callsign</th>
        <th scope="col">P1</th>
        <th scope="col">P2</th>
        <th scope="col">Crew</th>
        <th scope="col">Departure</th>
        <th scope="col">Destination</th>
        <th scope="col">SRP</th>
        <th scope="col">Date</th>
        <th scope="col">Task</th>
        <th scope="col">Description</th>
        <th scope="col">Fuel brought forward</th>
        <th scope="col">Fuel uplift expected</th>
        <th scope="col">Fuel uplift actual</th>
        <th scope="col">Departure fuel</th>
        <th scope="col">Oil uplift expected</th>
        <th scope="col">Oil uplift actual</th>
        <th scope="col">Departure oil left</th>
        <th scope="col">Departure oil right</th>
        <th scope="col">TKS pre-flight</th>
        <th scope="col">De-Anti-ice type</th>
        <th scope="col">De-Anti-ice temperature</th>
        <th scope="col">De-Anti-ice time</th>
        <th scope="col">De-Anti-ice mix</th>
        <th scope="col">Holdover time</th>
        <th scope="col">Takeoff mass</th>
        <th scope="col">Pre-flight signature</th>
        <th scope="col">Pre-flight callsign</th>
        <th scope="col">Landing fuel main left</th>
        <th scope="col">Landing fuel main right</th>
        <th scope="col">Landing fuel aux left</th>
        <th scope="col">Landing fuel aux right</th>
        <th scope="col">Landing fuel other left</th>
        <th scope="col">Landing fuel other right</th>
        <th scope="col">TKS Postflight</th>
        <th scope="col">Blocks off</th>
        <th scope="col">Takeoff</th>
        <th scope="col">Landing</th>
        <th scope="col">Blocks on</th>
        <th scope="col">Landings day</th>
        <th scope="col">Landings night</th>
        <th scope="col">Postflight signature</th>
        <th scope="col">Postflight callsign</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}}

</body>
