{% extends "base.html" %} {% block title %} Register {% endblock %} {% block
content%}

<div class="container position-absolute top-50 start-50 translate-middle">

    <form method="POST">
        <h3 align="center">Register</h3>
        <br>
        <div class="vstack gap-3 col-6 mx-auto">


            <div class="form-floating">
                <input type="email" class="form-control" id="Email" placeholder="name@example.com" name="email">
                <label for="Email">Company e-mail</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="Username" placeholder="Username" name="username">
                <label for="Username">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="Password1" placeholder="Password" name="password1">
                <label for="Password1">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="Password2" placeholder="Confirm password" name="password2">
                <label for="Password2">Confirm password</label>
            </div>
            <br/>
            <button class="btn btn-dark" type="submit">Register</button>
        </div>

    </form>
    {% endblock %}
</div>